.container{
    background-color: burlywood;
    width: 500px;
    display: flex;
    height: 500px;
    flex-direction: column;
}
.senior{
    width: 80%;
    background-color: chartreuse;
    height: 100px;
}
.junior{
    background-color: coral;
    width: 80%;
    height: 100px;
}
.fullstack{
    width: 80%;
    background-color: darkgreen;
    height: 100px;
}