*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    width: 602px;
    height: 403px;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    height: 200px;
    background-color: darkblue;
    border: 1px solid black;
}