.container{

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
.container{
    width: 100%;
    height: 3550px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.container .navbar{
    margin-top: 0px;
    width: 100%;
    height: 10.9%; 
    position: fixed;
    z-index: 20;
    background-color: white;


  

    display: flex;
    


   
   
}
.navbar.changenav{
    background-color: black;
}
.container .navbar .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.container .navbar .links{
    width: 80%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container .navbar .links h4{
    margin-right: 34px;
}
.container .navbar  .darkmode{
    width: 7%;
    height: 54%;
    background-color: rgb(0, 0, 0);
}
/* ge */
.darkcontainer{
    width: 80px;
    height: 40px;
    background-color: #1890ff;
    margin-right: 50px;



}
/* main hisse */
.main{
    width: 100%;
    height: 23%;
    display: flex;

 
   
  


}
.main .mainpart1{
    width: 50%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainname{
    width: 50%;
    height: 10%;
  
}
.mainbio{
    width: 50%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.mainbtn{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
.maintn1{
    width: 34%;
    height: 60%;
    background-color:#1890ff;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
}
.mainbtn2{
    width: 50%;
    height: 60%;
 
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(114, 114, 114);
    
}

.main .mainpart2{
    width: 50%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .mainpart2 img{
    width: 60%;
    height: 60%;
}
/* about */
.about{
    width: 80%;
    height: 6%;


    position: absolute;
    top:22.5%;
    right: 10%;
    display: flex;
    border: #f8f9fa 1px solid;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 11px ;
    z-index: 3;

}

.about1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aboutme1.deyis{
    background-color: black;
}


.about2{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.aboutme2{
    width: 90%;
    height: 90%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.aboutme1{
    width: 83%;
    height: 80%;
    border: #f8f9fa 1px solid;
    border-radius: 9px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    background-color:#f8f9fa;
}





/* skil */
.skill{
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px rgb(126, 126, 126) solid;


    
}
.skillcon{
    width: 80%;
    height: 74%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    border-radius: 11px;
}
.skillbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;

   
    height: 75%;
    width: 100%;

}
.skilboxitem{
    width: 33%;
    height: 49%;
    display: flex;
    align-items: center;
    justify-content: center;


}


/* skillcard */
.skilltext{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skilltexthead{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.skilltextbottom{
    width: 57%;
   
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;


}



/* cddc */
.skillcard{
    width: 280px;
    height: 120px;
    background-color: #f8f9fa;

    border-radius: 11px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    
    
}
.skillcardtext{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillcardvalue{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillline{
    width: 82%;
    height: 22%;
    background-color: #e1e6ec;
    border-radius: 8px;
    padding: 4px;

}

meter::-webkit-meter-optimum-value {
	background: #1488f5;
}
.know{
    height: 100%;
    background-color: #1488f5;
    border-radius: 4px;
}
/* projects */
.portfolio{
    width: 100%;
    height: 22%;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-bottom: black 10px;
    flex-direction: column;
    position: relative; 
} 
.portfolio .portfolioinner{
    width: 82%;
    height: 80%;




}
.portfoliotext{
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfoliotextinner{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;


}
.portfoliocards{
    width: 100%;
    height: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.portfoliocardsitem{
    width: 33%;
    height: 48%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cardinner{
    width: 75%;
    height: 70%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    border-radius: 9px;
  
  
}
.cardinner:hover .cardhover {

   
    visibility: visible;
   

    
   
    
}
.cardhover:hover{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.cardinner:hover{
   

}
.cardimg{
    width: 75%;
    height: 65%;
}
.cardimg img{
   

    width:100%;
    height: 100%;
    z-index: 1;


}
.cardhover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;  
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    transition: 0.5s;



}
.portfoliobottom{
    width: 100%;
    height: 10%;
    background-color: black;
}

.visit{
    width: 30%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    bottom: -2%;
   

}

.github{
    width: 34%;
    height: 27%;
    background-color: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;

}
.linkdin{
    width: 34%;
    height: 27%;
    background-color: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;


}
/* contact */
.contact{
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgb(107, 107, 107);
    flex-direction: column;

} 

.contactinner{
    width: 90%;
    height: 87%;
}

.contacthead{
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contacttext{
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contacttextinner{
    width: 40%;
    height: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

}

.gmailgroup{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    

}
.goupitem1{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.innergmail{
    width: 35%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.phonelogo{
    margin-bottom: 6px;
}
.innergmail p{
    margin-bottom: 12px;
}
.messageme{
    width: 100%;
    height: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.innermessage{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.messageme1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
}
.innermessageme1{
    width: 90%;
    height: 80%;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.innermessageme1 input{

    width: 98%;
    height: 18%;
    border-radius: 12px;
    outline: none;
    border: solid black 1px;
    padding: 8px;

}




.input1::placeholder {
    font-style: italic;
    font-size: 1em;
    padding: 8px;
    
  }
 
.messageme2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innermessageme2{
    width: 90%;
    height: 80%;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    
}
.innermessageme2 textarea{
    width: 90%;
    height: 87%;
    border-radius: 11px;
    padding: 8px;
}
.messagebutton{
    width: 88%;
    height: 70px;
    display: flex;
    align-items: flex-start ;
    justify-content: flex-end
    ;
    padding-top: 2px;
    padding-right: 12px;
}
.messagebuttoninner{
    width: 20%;
    height: 70%;
    background-color: #1488f5;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


    

    

/* footer */
.footer{
    width: 100%;
    height: 9%;
    background-color: aqua;
}  


/* nav bar media query */
@media only screen and (max-width: 1050px) {

    .container .navbar .links h4{
        display: none;
        margin-left: 90px;
        
    }
    
  }

  .darkcontainer{
      margin-right: 10%;
  }
  @media only screen and (max-width: 1000px) {

    .container .navbar .links h4{
        margin-right: 16px;
        
    }
    
  }
  .darkcontainer{
      margin-left: 140px;
  }
  /* media query main */
  @media only screen and (max-width: 1050px) {
      .main{
          width: 100%;
           height: 8%;  
       
          
        

      }
      .main .mainpart2{
          display: none;
      }
      .main .mainpart1{
          width: 100%;
          justify-content: center;
          align-items: flex-start;
        
      }
      .mainpart1 .mainname{
          width: 100%;
          margin-left: 4%;
      }
      .mainbio{
          width: 90%;
          margin-left: 4%;
          
          
      }
      .mainbtn{
          width: 73%;
          margin-left: 7%;
      }



    
  }
/* container */
@media only screen and (max-width: 1000px) {
    .container{
        height: 9000px;
      
     
       
    }


  }

  /*about  */
  @media only screen and (max-width: 1000px) {
    .about{
        width: 88%;
        height: 6%;
        flex-direction: column;
        top:7.8%;
        right: 6%;
        
    }
    .about1{
        width: 90%;
        height: 70%;
     
    }
    .about2{

        width: 90%;
        height: 70%;
    }



  }  
  /* skill */

  @media only screen and (max-width: 1000px) {
      .skill{
          height: 20%;
      }
      .skilboxitem{
          width: 80%;
          height: 12%;
      

      }
      .skillbox{
         align-items: center;
         height: 66%;
      }
   


  }
  /* portfolio query */
  @media only screen and (max-width: 1000px) {
      .portfolio{
          height: 17%;
      }
      .portfoliotextinner{
          width: 80%;
      }


  
      .portfoliocards{
          flex-wrap: wrap;
          flex-direction: row;
      }
      .portfolioinner{
          flex-wrap: wrap;
          
      }
      .cardimg img{
          width: 100%;
          height: 100%;
      }
      .portfoliocardsitem{
          width: 100%;
          height: 18%;
         
      }
      .visit{
          position: absolute;
          width: 79%;
          height: 10%;
          bottom: 19;

      }
      .github{
          width: 44%;
      }
      .linkdin{

        width: 44%;
      }
      


 


}
/* contack query */
@media only screen and (max-width: 1000px) {
    .innermessageme2 textarea{
        width: 100%;
    }
    .contact{
        height: 19%;
   
        
    }
    .contactinner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .gmailgroup{
        height: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .contacthead{
        height: 5%;

    }
    .contacttext{
        height: 12%;
    }
    .contacttextinner p{
        height: 100%;
        text-align:start;

    }
    .innermessage{
      
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 84%;

    }
    .messageme{
        height: 30%;
    
    }
    .messageme1{
        width: 90%;
    }
    .messageme2{
        width: 90%;
    }
    .innermessageme1{
        width: 100%;
    }
    
    .innermessageme2{
       align-items: flex-start;
       width: 100%;

    }
    .innermessageme1 input{
        
        height: 29%;
    }
    .messagebuttoninner{
        width: 55%;
    }
    .goupitem1{
        width: 95%;

    }
    .goupitem1 p{
        display: flex;
        align-items: center;
        justify-content: center;
    }




}


